@model IEnumerable<Race>

<main>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @foreach (var race in Model)
                {
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="card-img-top" width="100%" height="225px" src="@race.Image" />
                            <div class="card-body">
                                <p class="card-text">@race.Title</p>
                                <p class="card-text">@race.Description</p>

                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a asp-controller="Race" asp-action="Detail" asp-route-id="@race.Id" class="btn btn-sm btn-outline-secondary">View</a>
                                        <a asp-controller="Race" asp-action="Edit" asp-route-id="@race.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                                    </div>
                                    <small class="text-muted">@race.RaceCategory</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</main>